body {
  background-color: olive;
}

p {
  color: pink;
  text-align: center;
  font-family:"Lucida Console", monospace;
}

h1{
  color:pink;
  text-align: center;
  font-family:"Lucida Console", monospace;
}

h2{
  color:pink;
  text-align: center;
  font-family:"Lucida Console", monospace;
}

img {
  max-width:100%;
}
