*{
box-sizing:border-box;
}

body{
  margin: 0;
}

.main-container {
  background-color:rgb(174, 22, 246);
  width:100%;
  height:100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-row {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  gap:10px;
}

.top-item {
  background-color:rgb(244, 232, 73);
  width: 100%;
}

.bottom-row {
  height: 80%;
  display:flex;
  gap: 10px;
}

.left-half {
  background-color:rgb(71, 140, 232);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.center-object {
  background-color:rgb(241, 148, 25);
  width: 20%;
  height: 20%;
}

.right-half{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-item {
  background-color:rgb(210, 26, 175);
  height: 25%;
}
